@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

a,
p {
  font-family: "Alata", sans-serif;
}

.hoverEffect > div {
  display: grid;
  gap: 8px;
  cursor: pointer;
}

.hoverEffect > div > span {
  transition: all 0.2s linear;
  background-color: transparent;
  height: 2px;
  width: 10%;
}

.hoverEffect > div:hover > span {
  background-color: white;
  width: 100%;
}
